*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --pip-size: 1.2rem;
    --light-offset-x: 100px;
    --light-offset-y: 300px;
    --road-width: 100px;
    
    --red: #E60000;
    --green: #4CBB17;
    --amber: #FF7800;

    --light-intensity: 8px;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

main {
    background-image: radial-gradient(#89dd54, #5fa136);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

main > .road {
    position: absolute;
    box-shadow: 0 0 0 1px #fff,
                0 0 0 var(--road-width) #2A2922,
                0 0 0 calc(var(--road-width) + 2px) var(--amber),
                0 0 0 calc(var(--road-width) + 20px) #2A2922;
    z-index: 0;
    filter: drop-shadow(0 0 var(--light-intensity) #2A2922);
}


#info-panel {
    padding: 1rem;
    margin: 1rem;
    border: solid rgba(0,0,0,.2) 2px;
    position: absolute;
    background: rgba(0,0,0,.6);
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    font-size: 1rem;
    z-index: 99;
}

#info-panel > div {
    color: white;
    padding: 0.5rem;
    margin-bottom: 0.2rem;
}


.road.ew {
    width: 100vw;
}

.road.ns {
    height: 100vh;
}

/* Light positions */
.light-group {
    position: absolute;
    display: flex;
    z-index: 2;
}

#lg-n {
    margin-left: var(--light-offset-x);
    margin-bottom: var(--light-offset-y);
}

#lg-s {
    margin-right: var(--light-offset-x);
    margin-top: var(--light-offset-y);
}

#lg-e {
    margin-left: var(--light-offset-y);
    margin-top: var(--light-offset-x);
}

#lg-w {
    margin-right: var(--light-offset-y);
    margin-bottom: var(--light-offset-x);
}

.light {
    border: solid rgb(50,50,50) 2px;
    border-radius: 20px;
    background: black;
    display: flex;
    flex-direction: column;
    margin: 0.2rem;
}

.light > .pip {
    height: var(--pip-size);
    width: var(--pip-size);
    margin: 0.3rem;
    opacity: 0.05;
    transition: opacity 0.5s ease-in-out;
}

.light > div.pip {
    border-radius: 50%;
    border: solid rgba(0,0,0,.5) 1px;
}

.light > .pip.red {
    background-color: var(--red);
    filter: drop-shadow(0 0 var(--light-intensity) var(--red));
}

.light > .pip.amber {
    background-color: var(--amber);
    filter: drop-shadow(0 0 var(--light-intensity) var(--amber));
}

.light > div.pip.green {
    background-color: var(--green);
    filter: drop-shadow(0 0 var(--light-intensity) var(--green));
}

.light > svg.pip.green {
    fill: var(--green);
    filter: drop-shadow(0 0 var(--light-intensity) var(--green));
}

.light > .pip.on {
    opacity: 1;
}

.test {
    opacity: 1;
    fill: var(--green);
    filter: drop-shadow(0 0 20px var(--green));
}