*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --pip-size: 1.2rem;
    --light-offset-x: 105px;
    --light-offset-y: 300px;
    --road-width: 100px;
    
    --red: #E60000;
    --green: #4CBB17;
    --amber: #FF7800;
}

html, body {
    margin: 0;
    padding: 0;
}

main {
    background: #7EC850;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

main > .road {
    position: absolute;
    box-shadow: 0 0 0 5px #fff,
    0 0 0 var(--road-width) #2A2922;
    z-index: 0;
}


.clock {
    position: absolute;
    top: 0;
    left: 0;
}

.road.ew {
    width: 100vw;
}

.road.ns {
    height: 100vh;
}

/* Light positions */
.light-group {
    position: absolute;
    display: flex;
    z-index: 2;
}

#lg-n {
    margin-left: var(--light-offset-x);
    margin-bottom: var(--light-offset-y);
}

#lg-s {
    margin-right: var(--light-offset-x);
    margin-top: var(--light-offset-y);
}

#lg-e {
    margin-left: var(--light-offset-y);
    margin-top: var(--light-offset-x);
}

#lg-w {
    margin-right: var(--light-offset-y);
    margin-bottom: var(--light-offset-x);
}

.light {
    border: solid black 1px;
    border-radius: 10px;
    background: black;
    display: flex;
    flex-direction: column;
    margin: 0.2rem;
}

.light > .pip {
    height: var(--pip-size);
    width: var(--pip-size);
    margin: 0.2rem;
    opacity: 0.05;
    transition: opacity 0.5s ease-in-out;
}

.light > div.pip {
    border-radius: 50%;
}

.light > .pip.red {
    background-color: var(--red);
}

.light > .pip.amber {
    background-color: var(--amber);
}

.light > div.pip.green {
    background-color: var(--green);
}

.light > svg.pip.green {
    fill: var(--green);
}

.light > .pip.on {
    opacity: 1;
}
